body{
    justify-content: center;
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma;
} 

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; 
  background-image: url('../assets/instruments1.jpg');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.8; 
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
}
.content{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.96); 
    border-radius: 12px;                         
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); 
    padding: 20px;
    box-sizing: border-box;
}

h1, h2{
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    color: steelblue;
}

p{
    font-size: 1.2rem;
}

.content-div-div{
    display: flex;
    justify-content: right
}

label{
    padding: 1rem;
    font-size: 1.2rem;
    color: goldenrod;
    font-weight: 500;
}

input{
    width: 5rem;
}
input, select{
    font-size: 1.2rem;
}

button{
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: goldenrod;
    color: whitesmoke;
    border: none;
    border-radius: 3rem;
    margin-top: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}

#resposta{
    font-size: 1rem;
    background-color: whitesmoke;
    width: 95%;
    height: 14rem;
    padding: 1rem;
    align-items: center;
}